APP_ENV=local
API_URL=http://localhost:8000
AIRFLOW_URL=http://localhost:8081
NOTEBOOK_URL=http://localhost:8888
APACHE_WEB_URL=http://localhost:8082
GRAFANA_URL=http://localhost:3000
EXAMPLE_API_TOKEN=replace-with-local-demo-value
